<div class="background">
  <nav>
    <a id="login" routerLink="/login">登录</a>
  </nav>
  <div class="container">
    <form [formGroup]="registerForm">
      <div class="p-float-label">
        <input pInputText id="username" type="text" formControlName="username"
               [ngClass]="{ 'is-invalid': submitted && f().username.errors }">
        <label for="username">用户名</label>
      </div>
      <div *ngIf="submitted && f().username.errors" class="invalid-feedback">
        <div *ngIf="f().username.errors?.required">请填写用户名</div>
      </div>
      <br><br>
      <div class="p-float-label">
        <input pInputText id="password" type="password" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f().password.errors }">
        <label for="password">密码</label>
      </div>
      <div *ngIf="submitted && f().password.errors" class="invalid-feedback">
        <div *ngIf="f().password.errors?.required">请填写密码</div>
        <div *ngIf="f().password.errors?.minlength">密码至少6位数</div>
      </div>
      <br><br>
      <div class="p-float-label">
        <input pInputText id="confirmPassword" type="password" formControlName="confirmPassword"
               [ngClass]="{ 'is-invalid': submitted && f().confirmPassword.errors }">
        <label for="confirmPassword">确认密码</label>
      </div>
      <div *ngIf="submitted && f().confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f().confirmPassword.errors?.required">请填写确认密码</div>
        <div *ngIf="f().confirmPassword.errors?.mustMatch">密码不一致</div>
      </div>
      <br><br>
      <div class="p-float-label">
        <input pInputText id="firstname" type="text" formControlName="firstname"
               [ngClass]="{ 'is-invalid': submitted && f().firstname.errors }">
        <label for="firstname">名</label>
      </div>
      <div *ngIf="submitted && f().firstname.errors" class="invalid-feedback">
        <div *ngIf="f().firstname.errors?.required">请填写名字(不包含姓氏)</div>
      </div>
      <br><br>
      <div class="p-float-label">
        <input pInputText id="lastname" type="text" formControlName="lastname"
               [ngClass]="{ 'is-invalid': submitted && f().lastname.errors }">
        <label for="firstname">姓</label>
      </div>
      <div *ngIf="submitted && f().lastname.errors" class="invalid-feedback">
        <div *ngIf="f().lastname.errors?.required">请填写姓氏</div>
      </div>
      <br><br>
      <div class="p-float-label">
        <input pInputText id="email" type="text" formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && f().email.errors }">
        <label for="email">邮箱</label>
      </div>
      <div *ngIf="submitted && f().email.errors" class="invalid-feedback">
        <div *ngIf="f().email.errors?.required">请填写邮箱地址</div>
      </div>
      <br><br>
      <div class="p-float-label">
        <input pInputText id="phone" type="text" formControlName="phone"
               [ngClass]="{ 'is-invalid': submitted && f().phone.errors }">
        <label for="phone">联系方式</label>
      </div>
      <div *ngIf="submitted && f().phone.errors" class="invalid-feedback">
        <div *ngIf="f().phone.errors?.required">请填写联系方式</div>
      </div>
      <br><br>
      <p-button class="btn btn-primary" (onClick)="onSubmit()">确认注册</p-button>
    </form>
  </div>

</div>

